$base-theme-green-light:#7ed56f;
$base-theme-green-medium:#55c57a;
$base-theme-green-dark:#28b485;
$base-theme-gray-light:rgb(236, 236, 236);
$base-theme-gray-medium:rgb(103, 101, 101);
$base-theme-gray-dark:rgb(77, 76, 76);
$font-large:5.5rem;
$font-medium:2rem;
$font-small:1.2rem;