@import '../abstracts/variables';
@import '../abstracts/mixins';
.form{
    height:80%;
    width:100%;
    padding:2rem 3rem;

    &__group{
        width:100%;
        text-align:left;
        margin:1rem;
        padding:1rem 0;

        @include responsive(680){
            text-align: center;
        }
        
    }
    &-input{
        padding:1rem 1rem;
        border-radius:5px;
        width:60%;

        @include responsive(900){
            width:70%;
        }
        @include responsive(450){
            width:80%;
        }
        
        &,
        &:active,
        &:focus{
            outline:none;
            border:none;
        }
    }
    &__button{
        padding:1rem 2.5rem;
        background-color: $base-theme-green-medium;
        color:white;
        border-radius: 10px;
        border:none;
        margin-top: 1rem;
        cursor: pointer;

        &:hover{
            transform:translateY(-5px);
        }
        &:active{
            transform:translateY(2px);
        }
    }
    &__label{
        font-size: 1.4rem;
        margin-left:0.5rem;
    }
    &__radio-input input:not(:first-child){
        margin-left:2rem;
    }
}